<template>
  <div class="container">
    <h1>{{ title }}</h1>
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: 'Made by Santiago Ramírez',
    };
  },
};
</script>

<style>
.container {
  margin: 0;
  background-color: #fff;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  font-size: 49px;
  font-weight: 600;
}
</style>
