<template>
  <div class="Locations">
    <h1 class="text-2xl">{{ title }}</h1>
    <p class="Loader" v-if="loading">Cargando...</p>
    <table class="Location-List" v-if="!loading">
      <tr>
        <th>Nombre de la Sucursal</th>
        <th>Horario</th>
        <th>Dirección Completa</th>
        <th>Nº de Empleados</th>
      </tr>
      <tr v-for="(item, index) in locations" :key="index">
        <td>{{ item.name }}</td>
        <td>{{ item.schedule }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.quantityEmployees }}</td>
      </tr>
    </table>
  </div>
</template>

<script>
import SortedLocationsArray from '../utils/SortedLocationsArray';

export default {
  data() {
    return {
      title: 'Sucursales',
      loading: true,
      locations: [],
    };
  },
  created() {
    //Put data within locations:[]
    this.getLocationData();
    this.loading = false;
  },

  mounted() {},

  methods: {
    getLocationData: async function () {
      let output = await SortedLocationsArray();
      this.locations = output;
    },
  },
};
</script>

<style scoped>
.Locations {
  background-color: #f1f1f1;
  margin: 0;
  width: 100%;
  height: auto;
  padding: 16px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
table {
  margin-top: 25px;
}
.Location-List {
  font-size: 14px;
  width: 95%;
  max-width: 1400px;
  height: auto;
  background-color: #f1f1f1;
}
.Location-List tr th {
  text-align: left;
  padding: 5px;
  border: 1px solid black;
}
.Location-List tr td {
  text-align: left;
  padding: 5px;
  border: 1px solid black;
}
</style>
