<template>
  <div class="TurnTemplates">
    <h1 class="text-2xl">{{ title }}</h1>
    <p class="Loader" v-if="loading">Cargando...</p>
    <table class="TurnTemplate-List" v-if="!loading">
      <tr>
        <th>Nombre</th>
        <th>Hora Entrada</th>
        <th>Hora Salida</th>
        <th>Descanso (Min)</th>
        <th>Horas trabajadas</th>
        <th>Cargo(s)</th>
        <th>Sucursal(es)</th>
      </tr>
      <tr v-for="(item, index) in TurnTemplate" :key="index">
        <td>{{ item.name }}</td>
        <td>{{ item.checkIn }}</td>
        <td>{{ item.checkOut }}</td>
        <td>{{ item.breakTime }}</td>
        <td>{{ item.workHrs }}</td>
        <td>{{ item.position }}</td>
        <td>{{ item.locations }}</td>
      </tr>
    </table>
  </div>
</template>

<script>
import ListTurnTemplates from '../utils/ListTurnTemplates';

export default {
  data() {
    return {
      title: 'Plantilla de Turnos',
      loading: true,
      TurnTemplate: [],
    };
  },
  created() {
    //Put data within TurnTemplate:[]
    this.getTurnTemplateList();
    this.loading = false;
  },

  methods: {
    getTurnTemplateList: async function () {
      let output = await ListTurnTemplates();
      return (this.TurnTemplate = output);
    },
  },
};
</script>

<style scoped>
.TurnTemplates {
  background-color: #f1f1f1;
  margin: 0;
  width: 100%;
  height: auto;
  padding: 16px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
table {
  margin-top: 25px;
}
.TurnTemplate-List {
  font-size: 14px;
  width: 95%;
  max-width: 1400px;
  height: auto;
  background-color: #f1f1f1;
}
.TurnTemplate-List tr th {
  text-align: left;
  padding: 5px;
  border: 1px solid black;
}
.TurnTemplate-List tr td {
  text-align: left;
  padding: 5px;
  border: 1px solid black;
}
</style>
