<template>
  <div class="Users">
    <h1 class="text-2xl">{{ title }}</h1>
    <p class="Loader" v-if="loading">Cargando...</p>
    <table class="User-List" v-if="!loading">
      <tr>
        <th>ID Empleado</th>
        <th>Nombre Completo</th>
        <th>Cargo</th>
        <th>Sucursal</th>
        <th>Horario</th>
      </tr>
      <tr v-for="(item, index) in users" :key="index">
        <td>{{ item.employeeId }}</td>
        <td>{{ item.fullName }}</td>
        <td>{{ item.positions }}</td>
        <td>{{ item.locations }}</td>
        <td>{{ item.contract }}</td>
      </tr>
    </table>
  </div>
</template>

<script>
import SortedUsersArray from '../utils/SortedUsersArray';

export default {
  data() {
    return {
      title: 'Lista de Usuarios',
      loading: true,
      users: [],
    };
  },

  beforeMount() {},

  created() {
    //Put data within users:[]
    this.getUserData();
    this.loading = false;
  },

  mounted() {},

  methods: {
    getUserData: async function () {
      let output = await SortedUsersArray();
      return (this.users = output);
    },
  },

  computed: {},
};
</script>

<style scoped>
.Users {
  background-color: #f1f1f1;
  margin: 0;
  width: 100%;
  height: auto;
  padding: 16px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.Users table {
  margin-top: 25px;
}
.User-List {
  font-size: 14px;
  width: 95%;
  max-width: 1400px;
  height: auto;
  background-color: #f1f1f1;
}
.User-List tr th {
  text-align: left;
  padding: 5px;
  border: 1px solid black;
}
.User-List tr td {
  text-align: left;
  padding: 5px;
  border: 1px solid black;
}
</style>
