<template>
  <div
    id="nav"
    class="sticky flex items-center justify-between p-3 space-x-3 bg-blue-500 w-full h-14"
  >
    <router-link to="/">Home</router-link>
    <div>
      <router-link to="/usuarios" class="px-1.5">Usuarios</router-link>
      <router-link to="/sucursales" class="px-1.5">Sucursales</router-link>
      <router-link to="/plantillas_turnos" class="px-1.5">
        Plantillas de Turno
      </router-link>
      <router-link to="/calendario" class="px-1.5">Calendario</router-link>
    </div>
  </div>
</template>

<script>
export default {};
</script>
